@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    html,body {
        height: 100vh;
    }
    body {
        background: linear-gradient(to top, #49a09d,#5D2C80);
        background-repeat: no-repeat;
        background-size: cover;

    }
    section#login {
        width: 80vw;

    }
    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#content {
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 992px) {
         body {
            background: linear-gradient(to top, #49a09d,#5D2C80);
            background-repeat: no-repeat;
            background-size: cover;
           
        }
        section#login {
            width: 950px;
        }
        section#login > div#img {
            float: right;
            width: 50%;
            height: 100%;
        }
        section#login > div#content {
            float: left;
            width: 50%;
        }
        div#content  > h1{
            text-align: center;
            font-size: 2em;
        }
        div#content > p {
            font-size: 1.2em;
        }

    }