@charset "UTF-8";

html, body {
    height: 100vh;
    height: 100vw;
    background-color: #5D2C80;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;

}
section#login > div#img {
    display: block;
    background: #5D2C80 url(../imagens/modern-architeture.jpg);
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}
section#login > div#content {
    display: block;
    color: black;
    background-color: white;
    padding: 10px;
    text-align: left;

}
