@charset "UTF-8";

html, body {
    height: 100vh;
    height: 100vw;
    background-color: #5D2C80;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

main > #content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    border-radius: 20px;
    height: 50%;
    width: 50%;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
p {
    text-align: left;
}
#data {
    position: relative;
    width: 80%;
    text-align: left;
    background-color: #5D2C80;
    border-radius: 10px;
}

input {
    margin-bottom: 10px;
}
#gma,#pass {
    width: 40%;
    position: absolute;
    transform: translate(left);
    height: 20px;
    margin-left: 0;
    padding-left: 0;
    
}

#log,#forg {
    width: 80%;
}
