@charset "UTF-8";


html, body {
    height: 100vh;
    height: 100vw;
    background-color: #5D2C80;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: width .3s, height .3s;
    transition-timing-function: ease;

}
section#login > div#img {
    display: block;
    background: #5D2C80 url(../imagens/modern-architeture.jpg);
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}
section#login > div#content {
    display: block;
    color: black;
    background-color: white;
    padding: 10px;
    text-align: left;
}
#content > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#content > p {
    font-size: 0.8em;
}
.field {
    background-color: #5D2C80;
    display: block;
    width: 100%;
    height: 40px;
    border-radius:  8px;
    margin: 5px 0px;
    text-align: center;
}
.field > input {
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-align: center;
    border-radius: 8px;
    background-color: #49d09d;
}
.field > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #349088;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}
form > a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: #2d6462;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #6cd3cf;
    border: 1px solid #49d09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.button:hover {
    background-color: #2d6462;

}
form > a.button > i {
    font-size: 0.8em;
}